@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
$dark-blue: #00ffe4;
$light-blue: #d7fffb;
$calc-bg: #232323;
$btn-bg: #ff6f21;
$btn-bg__hover: #ff9257;
$btn-text: #000;
$font-weight: ("light": 300, "regular": 400, "medium": 500, "bold": 600);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}